{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5 border rounded" style="max-width: 600px;">
    <h2 class="text-center mt-4">Nova Tarefa</h2>
    <form action="{% url "criar-tarefas" %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row mb-4">
        <div class="col-md-12">
          <label for="id_titulo" class="form-label">Título</label>
          {{ form.titulo }}
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-12">
          <label for="id_descricao" class="form-label">Descrição</label>
          {{ form.descricao }}
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-12">
          <label for="id_foto" class="form-label">Foto</label>
          {{ form.foto }}
        </div>
      </div>

      <div class="text-center my-4">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
{% endblock %}
